.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
test/**
out/**
plan/**
tool/**
**/*.ts
tsconfig.json
vitest.config.ts
eslint.config.mjs
esbuild.js
node_modules/**
.gitignore
.gitattributes
package-lock.json
*.vsix
**/*.map
images/utaIcon.jpeg
images/icon.png
